.fade-slide-y-enter-active {
  transition: all var(--t-duration-slide) ease;
}

.fade-slide-y-leave-active {
  transition: all var(--t-duration-slide) cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-slide-y-enter-from,
.fade-slide-y-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
