name: check-docs

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check-docs:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node: ['14', '16', '18']
        bundler: ['vite', 'webpack']

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build source code
        run: pnpm build

      - name: Build docs with ${{ matrix.bundler }}
        run: pnpm docs:build
        env:
          DOCS_BUNDLER: ${{ matrix.bundler }}
